.popular-course {
  height: 500px;
}
.popular-course img {
  height: 250px;
  object-fit: cover;
  object-position: center;
}

.popular-course-category {
  color: #0071dc;
}
.popular-course-price,
.popular-course-price-free,
.popular-course-price-enroll {
  font-size: 18px;
  font-weight: 600;
  width: max-content;
  padding: 6px 18px;
  border-radius: 3px;
}

.popular-course-price-enroll {
  background-color: #136d26;
  color: #fff;
  cursor: pointer;
}
.star-icon {
  color: #f7c04d;
}
.users-icon {
  color: #0071dc;
}
