.animation-box {
  min-height: 100vh;
  background-color: #1d2a45;
  color: #2a1cec;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cbc {
  background-color: #2a1cec !important;
}
